<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body id="replica-app">
<div class="main-container">
  <%- body %>
</div>
<%- partial('_partial/footer') %>
<%- partial('_partial/script') %>
</body>
</html>
