.firstScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position-y: bottom;
  background-size: cover;
  background-image: url("https://cdn.jsdelivr.net/gh/esmyy/esmyy.github.io@gh-pages/images/air-beijing-chengdu.jpg");
  text-align: center;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

.lifeCard {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  line-height: 30px;
  /* min-width: 200px; */
  padding: 12px 20px;
}

.slogan {
  position: absolute;
  top: -50px;
  left: 0;
  text-align: center;
  width: 100%;
}

.entryItem {
  display: flex;
  justify-content: space-between;
}
.entryLink {
  flex-grow: 1;
  color: #fff;
  text-decoration: underline;
  text-align: left;
}
.arrow {
}
.entryLink:hover {
  color: #fff;
}

.pictureIntroduction {
  position: absolute;
  bottom: 20px;
  right: 20px;
  line-height: 24px;
}

.descLine {
  display: flex;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .lifeCard {
    top: 36%;
    padding: 12px;
  }

  .pictureIntroduction {
    bottom: 12px;
    right: 12px;
  }
}
