<div class="firstScreen" id="firstScreen" style="background-image: url(<%= config.firstScreen.image %>)">
  <div class="lifeCard">
    <p>有时怡然，洵美且好</p>
    <p>靠近美好，创造想要的生活</p>
  </div>
  <div class="pictureIntroduction">
    <p>
      <%= config.firstScreen.date %>
    </p>
    <p>
      <%= config.firstScreen.addr %>
    </p>
    <p>
      <%= config.firstScreen.description %>
    </p>
  </div>
  <div class="scrollDownWrapper" id="scrollDownWrapper">
    <div class="scrollDown">
      <iconpark-icon name="double-down" size="32" color="#fff"></iconpark-icon>
    </div>
  </div>
</div>
<script>
;(function () {
  const scrollDownIcon = document.getElementById('scrollDownWrapper')
  scrollDownIcon.addEventListener('click', function() {
    const firstScreen = document.getElementById('firstScreen');
    const classList = Array.from(firstScreen.classList);
    firstScreen.classList = classList.concat(['hidden']).join(' ')
  })
})();
</script>