<footer>
    <div class="mainContent footBar">
        <p class="aboutMe">
            <a href="<%= url_for('/about') %>">
                About Me
            </a></p>
        <p class="copyright">@2022 By esmyy</p>
    </div>
</footer>
