<div id="leancloudApp" style="display:none;" data-app-id="<%= config.leancloudApp.appId %>" data-app-key="<%= config.leancloudApp.appKey %>" data-server-urls="<%= config.leancloudApp.serverUrls %>">
</div>