<div class="sidebar-wrapper-fixed">
    <div class="avatar-box">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/20430185?v=4" alt="马月月头像">
        <div class="status-box"></div>
    </div>
    <div class="name-box">
        <h1 class="name">马月月</h1>
        <div class="alias">esmyy</div>
    </div>
</div>
