<div class="sidebar-wrapper">
    <div class="avatar-box">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/20430185?v=4" alt="马月月头像">
        <div class="status-box"></div>
    </div>
    <div class="name-box">
        <h1 class="name">马月月</h1>
        <div class="alias">esmyy</div>
    </div>
    <div class="summary-box">
        <div class="posts">
            <iconpark-icon name="document-folder"></iconpark-icon>
            <span>23 posts</span>
        </div>
    </div>
<!--    <div class="summary-box">-->
<!--        <div class="notes">-->
<!--            <iconpark-icon name="tag-one"></iconpark-icon>-->
<!--            <span>45 tags</span>-->
<!--        </div>-->
<!--    </div>-->
    <div class="info-box">
        <div>
            <iconpark-icon name="school"></iconpark-icon>
            <span>华中科技大学</span>
        </div>
        <div>
            <iconpark-icon name="city-one"></iconpark-icon>
            <span>北京, 朝阳</span>
        </div>
        <div>
            <iconpark-icon name="mail"></iconpark-icon>
            <span>iamesmyy@gmail.com</span>
        </div>
    </div>
</div>
