<div id="artitalk_main" style="display:block;"></div>
<div class="bbWrapper">
    <input type="text" username="username">
    <input type="password" username="password">
        <button class="loginBtn">登录</button>
</div>
<script src="<%= source_url('/js/artitalk.js', env.env === 'production') %>"></script>
<script >
const {
appId,
appKey,
serverUrls
} = window.hexoHelper.get_leancloud();
new Artitalk({
appId,
appKey,
serverUrls
})
const isPublisher = localStorage.getItem("SHUOSHUO_PUBLISHER");
if (isPublisher) {
    new Artitalk({
        appId: 'HIPSmz3qt9iZF654dkSgfXr2-MdYXbMMI', // Your LeanCloud appId
        appKey: 'IIZyd4Ee0LH46v96sUQFgo7V' // Your LeanCloud appKey
    })
}
</script>