<div class="bbWrapper ready">
  <div class="loginWrapper">
    <input class="bbUsername" type="text" name="username">
    <input type="password" class="bbPassword" name="password">
    <button class="loginBtn">登录</button>
  </div>
  <div class="postWrapper">
    <textarea class="content" rows="3" type="textarea" name="content" placeholder="输入说说内容"></textarea>
    <button class="postBtn">发布</button>
  </div>

</div>
<script src="<%= source_url('/js/artitalk.js', env.env === 'production') %>"></script>
<script src="<%= source_url('/js/bb.js', env.env === 'production') %>"></script>