<%
var posts = page.posts.data;
var recentPosts = page.posts.data.slice(0, 6);
%>

<main class="mainContent">
    <%- partial('_partial/readme') %>
    <div class="right-content">
        <div class="article-list">
          <% recentPosts.forEach(function(post){ %>
              <%- include('_partial/article-card', {post: post}) %>
          <% }); %>
          <% recentPosts.forEach(function(post){ %>
            <%- include('_partial/article-card', {post: post}) %>
          <% }); %>
            <% recentPosts.forEach(function(post){ %>
              <%- include('_partial/article-card', {post: post}) %>
            <% }); %>
        </div>
    </div>
</main>
