<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<div id="esmyy">
    <%- body %>
    <%- partial('_partial/footer') %>
</div>
<script>
// hljs.initHighlightingOnLoad();
</script>
<script src="/js/scrollreveal.js"></script>
<script>
const eles = document.querySelectorAll('[data-scroll-reveal]')
eles.forEach(elem => {
    ScrollReveal().reveal(elem)
})
</script>
</body>
</html>
