<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<div id="esmyy">
    <%- body %>
</div>
<!--<%- partial('_partial/footer') %>-->
<%- partial('_partial/script') %>
</body>
</html>
