<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<div id="esmyy">
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
</div>
</body>
</html>
