<div class="momentsWrapper mt-32" id="momentsBox">
  <!-- 隐藏掉评论列表，只当做说说展示 -->
</div>
<%- partial('_partial/loadmore.ejs', { id: 'momentLoadMore'})%>
<div id="artitalk_main"></div>
<script src="<%= source_url('/js/artitalk.js', env.env === 'production') %>"></script>
<script src="<%= source_url('/js/artitalkHelper.js', env.env === 'production') %>"></script>
<script src="<%= source_url('/js/moments.js', env.env === 'production') %>"></script>