<div class="shuoshuoWrapper mt-32" id="shuoshuoList">
  <!-- 隐藏掉评论列表，只当做说说展示 -->
</div>
<%- partial('_partial/loadmore.ejs', { id: 'shoushuoLoadMore'})%>
<div id="artitalk_main"></div>
<script src="<%= source_url('/js/artitalk.js', env.env === 'production') %>"></script>
<script src="<%= source_url('/js/shuoshuo.js', env.env === 'production') %>"></script>