--default-color = #24292f
--color-primary = #0969da;
--border-color = rgb(216, 222,228)

// --color-primary = #b3dcf5


// size
--sidebar-width = 296px
--main-width = 1120px

// font
--text-small = 12px

--color-calendar-graph-day-bg = #ebedf0;
--color-calendar-graph-day-L1-bg = #9be9a8
--color-calendar-graph-day-L2-bg = #40c463
--color-calendar-graph-day-L3-bg = #30a14e
--color-calendar-graph-day-L4-bg = #216e39

--color-calendar-graph-day-border = rgba(27, 31, 35, 0.06);
--color-calendar-graph-day-L1-border = rgba(27, 31, 35, 0.06)
--color-calendar-graph-day-L2-border = rgba(27, 31, 35, 0.06)
--color-calendar-graph-day-L3-border = rgba(27, 31, 35, 0.06)
--color-calendar-graph-day-L4-border = rgba(27, 31, 35, 0.06)
