.articleCard
  min-width 280px
  height 150px
  display flex
  position: relative;
  .picture
    width 120px
    height 120px
    border-radius 4px
  .articleDetail
    margin-left: 12px;
    height 120px
    display flex
    flex-direction column
    justify-content space-between
    .title-box
      font-width: 600;
      .title
        cursor: pointer;
        color --color-primary
    .excerpt
      font-size --text-small
      height 64px
      line-height 22px
      margin-top: 4px;
      color #57606a;
      overflow hidden
    .footer
      display flex
      .item
        display flex
        align-items center
        padding-right: 12px;
        .value
          padding-left: 4px;
          a
            color --default-color
        .date-box
          float right

@media screen and (max-width: 1000px)
  .articleCardTags
    display: none !important