.article-card
  min-width 320px
  min-height: 120px;
  padding 16px
  border 1px solid --border-color
  border-radius 6px
  .title-box
    display flex
    align-items center
    font-width: 600;
    .title
      cursor: pointer;
      color --color-primary
      margin-left: 6px;
  .summary
    font-size --text-small
    margin-top: 8px;
    color #57606a;
    padding-left: 2px;
  .footer
    display flex
    margin-top: 10px;
    .item
      display flex
      align-items center
      padding-right: 12px;
      .value
        padding-left: 4px;
        a
          color --default-color
      .date-box
        float right
