.calendar-wrapper
  margin-top: 20px;
  .excerpt
    font-size 16px
    font-weight 400
  .contribution-box
    display inline-block
    padding 8px
.ContributionCalendar-day
  shape-rendering: geometricPrecision;
  outline-offset: -1px;

.ContributionCalendar-day[data-level="0"]
  fill  --color-calendar-graph-day-bg
  outline 1px solid --color-calendar-graph-day-border

.ContributionCalendar-day[data-level="1"]
  fill  --color-calendar-graph-day-L1-bg
  outline 1px solid --color-calendar-graph-day-L1-border

.ContributionCalendar-day[data-level="2"]
  fill  --color-calendar-graph-day-L2-bg
  outline 1px solid --color-calendar-graph-day-L2-border

.ContributionCalendar-day[data-level="3"]
  fill  --color-calendar-graph-day-L3-bg
  outline 1px solid --color-calendar-graph-day-L3-border

.ContributionCalendar-day[data-level="4"]
  fill  --color-calendar-graph-day-L4-bg
  outline 1px solid --color-calendar-graph-day-L4-border

.ContributionCalendar-label
  font-size: 12px;
  fill: --default-color
.level-box
  display flex
  align-items center
  justify-content flex-end
  .text
    display inline-block
    padding-right: 4px;
  svg
    margin-right: 4px;
