.recentList
  display grid
  grid-template-columns: repeat(2, 50%)
  grid-column-gap: 20px
  grid-row-gap: 20px
  .recentLeft
    display flex
    justify-content space-between
  .recentCard
    position relative
    margin-right: 0;
    margin-top: 20px;
    height 120px
    &.lifeCard
      display flex
      flex-direction column
      justify-content space-between
    &.readingCard
      flex-grow 1
      margin-left: 12px
      background-color #ede0d9
      border none
      .readingCardContent
        position: relative;
        height: 72px;
        line-height: 24px;
        overflow: hidden;
    &.recentPictureSlider
      flex-grow: 1
      overflow: hidden;
      border-radius 6px
      .picture
        background-size: cover
        height: 120px
        background-position: center
    &.talkCard
      background-color #b3dcf5
      border none
      .speaker
        position absolute
        left: 16px
        top: 10px
      .talkCardContent
        position: relative;
        height: 96px;
        line-height: 24px;
        overflow: hidden;
  .recentRight
    display flex
    justify-content space-between

.articleList
  margin-top: 20px;
  display grid
  grid-template-columns: repeat(2, 50%)
  grid-column-gap: 20px
  grid-row-gap: 20px

