.latestMomentsItem,
.momentsItem {
  min-height: 60px;
  border-bottom: 1px solid #f0f0f0;
  padding: 8px;
  .time {
    color: gray;
    font-size: 12px;
  }
  .content {
    font-size: 14px
    line-height: 1.8;
  }
  .tag {
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    background: gray;
    color: #fff;
  }
}

.latestMomentsItem {
  border: none;
  padding: 4px;
  padding-top: 0;
  .momentAuthor {
    width: 16px;
    height: 16px;
    // border-radius: 50%;
  }
}

#artitalk_main  {
  display: none
}

#shuoshuo_content {
  display: none
}

.bbWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  &.ready {
    .loginWrapper {
      display: none;
    }
    .postWrapper {
      display: flex;
    }
  }
  .loginWrapper {
    display: flex;
    flex-direction: column;
  }
  .postWrapper {
    display: none;
    flex-direction: column;
  }
  input {
    padding: 0 8px
    height: 36px;
    margin-bottom 10px
    border: 1px solid;
    border-radius: 4px;
    width: 240px;
    box-sizing: border-box;
  }
  .postBtn,
  .loginBtn {
    background: #6b9ddd;
    padding: 6px 12px;
    border-radius: 6px;
    color: #fff;
    width: 240px
    cursor: pointer;
    margin-top 20px
  }
  .postBtn {
     width: 400px;
     height: 40px
  }
  textarea {
    border-radius: 4px;
    border: 1px solid;
     width: 400px;
     margin-top: 30px;
    padding: 4px 8px
    box-sizing: border-box;
  }
}

#momentLoadMore {
  padding-left: 8px;
}