.paginatorWrapper
  display flex
  justify-content center
  align-items center
  margin-top: 20px;
  .space,
  .prev,
  .next,
  .pageNum
    width 30px
    height 30px
    border-radius 8px
    text-align center
    border 1px solid #b3dcf5
    display flex
    align-items center
    justify-content center
    margin: 20px 12px;
    color black
    position: relative;
    &.current
      background-color: #b3dcf5;
  .prev
    &::after
      content "<"
      position: absolute;
  .next
    &::after
      content ">"
      position: absolute;
  .space
    border none
    padding-bottom 4px
