// articleCard
.articleCard
  min-width 320px
  height 150px
  padding 16px
  padding-bottom: 12px;
  border 1px solid --border-color
  border-radius 6px
  box-sizing border-box
  display flex
  position: relative;
  //margin-bottom: 12px;
  .picture
    width 120px
    height 120px
    border-radius 4px
  .articleDetail
    margin-left: 12px;
    height 120px
    display flex
    flex-direction column
    justify-content space-between
    .title-box
      font-width: 600;
      .title
        cursor: pointer;
        color --color-primary
    .summary
      font-size --text-small
      height 64px
      line-height 22px
      margin-top: 4px;
      color #57606a;
      overflow hidden
    .footer
      display flex
      margin-top: 12px;
      .item
        display flex
        align-items center
        padding-right: 12px;
        .value
          padding-left: 4px;
          a
            color --default-color
        .date-box
          float right
