.readMe
  display grid
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin 20px 0
  .content
    border 1px solid --border-color
    border-radius 6px
    padding 20px
    .about
      margin-top: 16px
