html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.5;
  font-size: 14px;
  color --default-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
textarea {
  resize: none;
}
img {
  border: 0;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-variant: normal;
}

h1 {
    font-size: 32px;
    font-weight: 600
}

h2 {
    font-size: 24px;
    font-weight: 600
}

h3 {
    font-size: 20px;
    font-weight: 600
}

h4 {
    font-size: 16px;
    font-weight: 600
}

h5 {
    font-size: 14px;
    font-weight: 600
}

h6 {
    font-size: 12px;
    font-weight: 600
}

p {
    margin-top: 0;
    margin-bottom: 10px
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clear-p-t{
  padding-top: 0 !important;
}
.clear-margin{
  margin: 0 !important;
}
.clear-b-margin{
  margin-bottom: 0 !important;
}
.light{
  color: #0052D9;
}
.p-light{
  padding-left: 5px;
}

main, header, footer, div,p {
  box-sizing border-box
}
