.tagsWrapper,
.categoriesWrapper
  .tagList
    width: 600px
    display: flex
    border: 1px solid --border-color
    flex-wrap: wrap;
    border-radius: 6px
    padding: 30px
    max-width: 100%
    a
      padding: 8px
      color: --default-color
      &:hover
        color: --color-primary;
        content: ")"
